@font-face {
  font-family: "Digital-7";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.ttf")
      format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.svg#Digital-7")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.clock {
  background-color: black;
  padding: 8px;
  margin-top: 16px;
}

.time {
  color: white;
  text-align: center;
  font-family: 'Digital-7';
  font-size: 72px;
  line-height: 72px;
  height: 85px;
}
